<IfModule mod_headers.c>
  # 1 MONTH
  <FilesMatch "\.(ico|pdf|flv)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>

  # 1 MONTH
  <FilesMatch "\.(jpg|jpeg|png|gif|swf|JPG)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>

  # 1 MONTH
  <FilesMatch "\.(xml|txt|css|js)$">
    Header set Cache-Control "max-age=2592000, proxy-revalidate"
  </FilesMatch>
</IfModule>

  ### ref
  # 1 DAYS
  # 86400


### Expires設定（mod_expiresがhttpd.confで有効になっていること）###
<IfModule mod_expires.c>
	ExpiresActive On

#★この２つ不要？
	ExpiresByType application/xml "modification plus 1 days"
	ExpiresByType text/xml "modification plus 1 days"

	ExpiresByType text/css "access plus 1 years"
	ExpiresByType application/x-javascript "access plus 1 years"
	ExpiresByType image/jpeg "access plus 1 years"
	ExpiresByType image/gif "access plus 1 years"
	ExpiresByType image/png "access plus 1 years"
</IfModule>

### gzip設定
<IfModule deflate_module>
	SetOutputFilter DEFLATE
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
	SetEnvIfNoCase Request_URI\.(?:gif|jpe?g|png)$ no-gzip dont-vary
	Header append Vary User-Agent env=!dont-vary
</IfModule>

