.col-sm-6
  => link_to '自分の日記へ', blogs_path, class: "btn btn-light"
  => link_to "#{@blog.user.dispname}の日記一覧を見る", blogs_path(:username => @blog.user.username), class: "btn" if @blog.user != current_user
  = link_to "編集する", edit_blog_path(@blog), class: "btn btn-info" if editable(current_user, @blog.user)
  .page-header.ver2
    h3
      = @blog.title
      small
        = link_to "（コメント数：#{@comments.size}）", "#comments"
  .once_content
    .info
      = link_to @blog.user.dispname, blogs_path(user_id: @blog.user_id)
      |  | 
      = l @blog.created_at if @blog.created_at
    .description
      #blog_images.cf
        - @blog.blog_images.each do |image|
          = link_to image_tag(image.image(:thumb)), image.image(:large), {:class => colorbox_class} if image.image?
          = link_to "削除", {:action => :destroy_image, :id => image.id}, method: "delete", data: {confirm: "画像を削除してもいいですか？"} if image.image? && editable(current_user, @blog.user)
      = "<hr>".html_safe if @blog.blog_images.present?
      p.text
        = @blog.content.html_safe
    .nice
      span#update_nice
        = nice_field(@blog, "blog", "#update_nice")
  = link_to "ページ最下部へ", "#comment_form", class: "btn btn-warning btn-block" if @comments.size > 5
  .page-header.ver2
    h3
      | コメント
  #comments
    = render partial: 'shared/comments', locals: { model_name: 'Blog', comments: @comments }
  #comment_form
    = form_for @new_comment, url: create_comment_blog_path(@blog.id), :remote => true do |f|
      = f.text_area :content, rows: 4, class: "form-control", placeholder: "コメントする"
      br
      = f.hidden_field :parent_id
      = f.hidden_field :parent_type
      .form-actions
        = f.submit "コメントを投稿", class: "btn btn-primary"
