<h3 class="normal"><%= link_to "以前のサイト", :controller => :others, :action => :old_site %></h3>

<h3 class="normal">このHPアドレス[http://a-dan.com/]のQRコード<br>(たかひろ作)</h3>
<%= image_tag 'QR_Code.jpg' %>

<h3 class="normal">？？</h3>
<%= link_to "he", {:controller => :others, :action => :he}, :style => "color:white" %>
