<!-- ### モーダル表示用 ### -->
<a id="flash_install_message" data-toggle="modal" href="#modalNotSuppoted" style="display:none"></a>
<div class="modal" id="modalNotSuppoted" style="display:none">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>動画が再生できません</h3>
  </div>
  <div class="modal-body">
    動画をこのブラウザで再生することはできません。<br>
    <a href="http://get.adobe.com/jp/flashplayer/">Adobe Flash Player</a>をインストールして頂くことで再生ができるようになります。
  </div>
  <div class="modal-footer">
    information
  </div>
</div>
