<div class="row">
  <div class="span7 offset2">

<%= link_to "動画一覧へ", movies_path, class: "btn" %>

<div class="page-header">
  <h3>編集</h3>
</div>

<% if @movie.thumb? %>
<div class="thumbnail">
<%= image_tag @movie.thumb(:thumb) %>
</div>
<% end %>

<%= render :partial => 'form' %>

  </div>
</div>
