<%# todo movies#new画面はなくなってるかな？ %>
<div class="row">
  <div class="span7 offset2">

<%= link_to "動画一覧へ", movies_path, class: "btn btn-light" %>

<div class="page-header">
  <h3>新規作成</h3>
</div>

<%= render :partial => 'form' %>

  </div>
</div>
