/* commom */
.left_side_bar {
  width: 500px;
  float: left;
}
.right_side_bar {
  width: 300px;
  float: left;
  border: 1px solid gray;
}
.left {
  float: left;
  margin-left: 8px;
}
.right {
  float: right;
  margin-right: 8px;
}

.line_width100 {
  width: 100%;
  height: 65px;
  text-align: center;
  margin: 30px auto 10px;
}

.clear {
  clear: both;
}
.clearfix {
  width:100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.select_menu span {
  diplay: block;
  width: 110px;
  height: 20px;
  padding: 5px;
  margin-left: 2px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 100%;
  float: left;
  text-align: center;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 1px 1px 1px #999999;
  border: 1px solid lightgray;
}
.select_menu a {
  text-decoration: none;
  color: gray;
}
.select_menu a:hover span {
  background: lightgray;
  color: black;
}
.select_menu span.selected {
	background: url('/images/icons/apply.png') no-repeat left center #FFFFFF;
  padding-left: 20px;
}
.select_menu a:hover span.selected {
	background: url('/images/icons/apply.png') no-repeat left center lightgray;
}

a.page_down {
  padding: 9px 20px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: #EC8103;
  /*background: #146EB4;*/
}
a.page_down:hover {
  /*background: #6090C8;*/
  background: #F5B058;
}
a.normal-btn{
  padding: 5px 15px;
  margin:0px 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: #EC8103;
}
a.normal-btn:hover {
  background: #F5B058;
}
.notice{
  padding: 6px;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight:bold;

  background-color: yellow;
  filter: alpha(opacity=60);
  -moz-opacity:0.6;
  opacity:0.6;

}

a.colorbox img{
  border: 2px solid tomato;
}
a.colorbox:hover img{
  border: 3px solid tomato;
}


.once_content{
  background-color: white;
  clear: both;
  margin: 5px 10px 30px;
  width: 95%;
  border: 1px solid #CCCCCC;
}
.once_content .title{
  background-color: #8B8B8B;
  color: white;
  /* background-color: #E1E1E1; */
  padding: 5px;
  font-weight: bold;
  font-size: 115%;
  margin-bottom: 8px;
}
.once_content .title a, .once_content .title a:hover {
  color: white;
}
.once_content .for_index {
  font-size: 105%;
  background-color: #DFDFDF;
  color: black;
}
.once_content .for_index a {
  color: black;
 }
.once_content .info{
  text-align: right;
  margin-right: 15px;
  color: gray;
}
.once_content .description{
  padding: 12px 20px;
}
.once_content .description .text{
  margin-top: 10px;
  padding: 4px;
}
.once_content .nice{
  background:#EFC1C1;
  text-align:center;
  padding:3px;
  font-size:120%;
}


.once_comment {
  width: 500px;
  margin: 5px 0px 10px;
  border: 1px solid;
  /*background-color: lightgray;*/
}
.once_comment .bar{
  height: 17px;
  /*border-bottom: 1px solid;*/
  /*margin-bottom: 13px;*/
  background-color: #E1E1E1;
  padding: 4px;
}
.once_comment .bar .name{
  float: left;
}
.once_comment .bar .time{
  float: right;
}
.once_comment .content{
  padding: 10px;
}
.once_comment .content .image{
  margin-top: 10px;
}
.once_comment .content .text{
  margin-top: 10px;
}

h3.normal{
  font-size: 17px;
  font-weight: bold;
  margin-top: 35px;
  padding: 6px 0px 6px 8px;
  border-left: 5px solid red;
  width: 450px;
}

h4.normal {
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
  padding: 3px 0px 3px 4px;
  border-bottom: 1px solid;
  width: 400px;
}

label.normal {
  color: limeGreen;
  font-size: 17px;
  font-weight: bold;
}

table.tablesorter_like{
  border: 1px solid gray;
  border-spacing: 0px;
}
table.tablesorter_like th{
  background-color: #E6EEEE;
}
table.tablesorter_like tr.odd{
  background-color: #F0F0F6;
}
table.tablesorter_like th, table.tablesorter_like td{
  border: 1px solid white;
  padding: 4px;
}


body {
  background: #161616;
  margin:0px;
}

#container{
  margin:0px auto;
  width:1100px;
  border-style:solid;
  border-color: black;
  border-width: 1px 8px 1px 8px;
  background-color:white;
}

#wrapper{
  margin-left: 30px;
  margin-bottom: 30px;
}

/*---------------------------------
 *  mutter
 *---------------------------------*/

#slider_update_btn{
  float:left;
  margin: 70px 0px 0px 200px
}
#slider_update_btn input{
  height: 40px;
  width: 120px;
  background-color:#EC8103;
  color: #fff;
}
#slider_update_info{
  font-size: 20px;
  color: red;
  font-weight: bold;
  margin: 10px;
}

/* slider-kit */
.carousel-demo2{width:100%;height:130px;background:black;}

/* Navbar */
.carousel-demo2 .sliderkit-nav{left:0;bottom:0;width:100%;height:115px;padding:10px;}
.carousel-demo2 .sliderkit-nav-clip ul li{float:left;margin:0 10px 0 0;}
.carousel-demo2 .sliderkit-nav-clip ul li a{display:block;width:152px;height:115px;overflow:hidden;margin:0;opacity:1;}
.carousel-demo2 .sliderkit-nav-clip ul li a:hover{opacity:0.7;}
.carousel-demo2 .sliderkit-nav-clip ul li a img {
  border: 1px solid #fff;
}

/* Navbar buttons */
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn{position:absolute;top:0;background:white;opacity:0.3;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn span{display:none;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn a{display:block;width:18px;height:130px;background:transparent url("./sliderkit/arrows-h.png") no-repeat center 0;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev{left:20px;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next{right:30px;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a{background-position:-89px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a{background-position:-108px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a:hover,
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a:focus{background-position:-126px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a:hover,
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a:focus{background-position:-145px center;}

/* Buttons > Disable */
.carousel-demo2 .sliderkit-nav .sliderkit-btn-disable{opacity:0.3/*can be set to any value until 1*/;cursor:default;}


#mutter{
  width: 700px;
  /*margin: 0px auto 30px;*/
  margin: 10px 25px 0px 0px;
  /*border: 1px solid blue;*/
  float: left;
}
#mutter #form{
  border: 1px solid lightgray;
  padding: 20px 25px 0px;
  height: 130px;
  background: #F2F2F2;
	/* background:url(../images/mutter.gif) repeat-x center left; */
  margin: 0px 0px 15px 10px;
}
#mutter #form textarea{
  padding: 8px;
  font-size: 1.2em;
  width: 530px;
  height: 40px;
}
#mutter #form input.post{
  width: 80px;
  height: 40px;
}
#mutter #form_search{
  margin: 30px auto;
  text-align: center;
  width: 100%;
}
#mutter #form_search form{
  text-align: center;
  margin-left: 15px;
  padding: 10px;
  display: inline;
  /* border: dotted 2px #EC8103; */
}

#mutter div#show_more {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  /*background: #146EB4;*/
  background: #EC8103;
  margin: auto;
  padding: 3px;
  width: 100%;

  cursor: pointer;
}

.mutter_rows {
  padding: 0px;
  width: 670px;
  margin-left: 30px;
}
.mutter_rows .content {
  display: block;
  padding: 5px 5px;
  /* float: left; */
}
.mutter_rows .image {
  float: left;
  margin-right: 12px;
}
.mutter_rows a:hover img {
  opacity: 0.8;
}
.mutter_rows .icon {
  width: 50px;
}
.mutter_rows .content_wrap {
  width: 580px;
  margin-left: 15px;
}
.mutter_rows .bar {
  padding-bottom: 3px;
  border-bottom: 1px dotted gray;
  margin-bottom: 5px;
}
.mutter_rows .bar .time {
  margin-left: 15px;
  color: DimGray;
}
.mutter_rows .bar .name a{
  font-weight: bold;
  /* color: blue; */
}
.mutter_rows .bar .nice {
  float: right;
  margin-right: 10px;
}
.mutter_rows li{
  list-style: none;
  padding: 5px;
  margin-top: 7px;
  /* border-radius: 7px 7px 7px 7px; */
  /* box-shadow: 1px 1px 3px #999999; */
  background-color: white;
}
.mutter_rows li.even{
  background-color: MistyRose;
}


#nichirei {
  padding: 5px 0px 15px;
  text-align:center;
}
#nichirei .main{
  font-size:150%;
  margin: 7px;
  font-weight:bold;
  color:red;
}
#kinenbi {
  padding: 5px 0px 15px;
  text-align:left;
}
#kinenbi table{
  margin: auto;
}
#kinenbi table tr{
  height: 35px;
}
#kinenbi table tr.exist-border td{
  border-bottom:1px gray solid;
}
#kinenbi .honzitu{
  font-size:150%;
  margin: 5px;
  font-weight:bold;
  color: Orange;
}
#kinenbi .main{
  font-size:130%;
  margin: 5px;
  font-weight:bold;
  color:red;
}
#kinenbi table tr.anniversary{
  height: 30px;
  text-align: center;
}
#kinenbi table tr.anniversary td{
  padding-bottom:15px;
  border-bottom:1px gray solid;
}
#kinenbi table tr.anniversary input{
  height: 33px;
  width: 90px;
}
#celebration_dialog{
  height: 300px;
  width: 600px;
}
#celebration_dialog form{
  margin-top: 20px;
}
#celebration_dialog textarea{
  padding: 8px;
  font-size: 1.2em;
}
#celebration_dialog input.post{
  width: 80px;
  height: 40px;
  font-size: 20px;
  margin: 15px 0 25px 0;
}


/* blog#index */
#blog {
  width: 650px;
  /*height: 300px;*/
  float: left;
}
#blog .once_blog{
  margin: 0px 20px 15px 0px;
  /*padding: 15px;*/
  border: 1px solid;
}
#blog .bar {
  margin: 0px 0px 10px 0px;
  padding: 3px;
  height: 40px;
  border: 0px 0px 0px 0px solid;
  background-color: #E1E1E1;
}
  
#blog .bar .title {
  font-weight: bold;
  font-size: 120%;
  float: left;
  width: 300px;
}
#blog .bar .time {
  float: right;
  width: 150px;
}
#blog #content {
  clear: both;
}
#blog .text {
  margin: 10px 5px;
  padding: 10px;
  /*background-color: lightgray;*/
  background-color: #F2EEE8;
}

/* blogs#show */
#show_blog {
  width: 650px;
  margin: 10px auto 25px;
  /* border: 1px solid; */
  /*padding: 15px;*/
}

.right_side_bar .blog{
  margin: 5px 0px 10px;
  text-align: center;
}

.right_side_bar .blog .name{
  font-weight: bold;
  font-size: 120%;
}

.right_side_bar .blog .updated{
  font-size: 90%;
  color: gray;
}

/*board*/
#board {
  width: 600px;
  margin-top: 20px;
}
#board .once_board{
  clear: both;
  margin: 5px 10px 30px;
}
#board .once_board .title{
  border-top: 1px solid;
  background-color: #E1E1E1;
  padding: 3px;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 8px;
}
#board .once_board .bar{
  width: 600px;
  color: gray;
}


/* boards#show */
#show_board {
  width: 650px;
  margin: 10px auto 25px;
}


/*movie*/
#movie {
  width: 600px;
  margin-top: 20px;
}
#movie .once_movie{
  clear: both;
  margin: 5px 0px 25px;
}
#movie .once_movie .title{
  border-top: 1px solid;
  background-color: #E1E1E1;
  padding: 3px;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 8px;
}
#movie .once_movie .bar{
  width: 600px;
  color: gray;
}
/* movies#show */
#show_movie {
  width: 650px;
  margin: 10px auto 25px;
}

/*album*/
#album{
  margin: 20px 15px;
}
.once_album{
  width: 230px;
  float: left;
  margin-left: 8px;
  height: 270px;
}
.once_album .bar{
  background-color: #E1E1E1;
  font-weight: bold;
  padding: 5px;
  line-height: 160%;
}
.once_album .photo{
  padding: 3px;
  text-align: center;
}
.once_album .info{
  background-color: #F2EEE8;
  font-size: 85%;
  padding: 5px;
}
#album_info{
  width: 650px;
  border: 1px solid;
  margin-bottom: 20px;
}
#album_info .bar{
  height: 40px;
  background-color: #E1E1E1;
  margin-bottom: 10px;
}
#album_info .bar .title{
  padding: 5px;
  font-size: 130%;
  font-weight: bold;
}
#album_info .content{
  padding: 12px;
}



/*photo*/
#photo{
  margin: 20px 15px;
}
.once_photo{
  float: left;
  margin-left: 8px;
  height: 270px;
  width: 180px;
  overflow: auto;
}
.once_photo .bar{
  background-color: #E1E1E1;
  font-weight: bold;
}
.once_photo .info{
  background-color: #F2EEE8;
  font-size: 85%;
  padding: 5px;
}
.once_photo img{
  border: solid 1px #161616;
}
.once_photo a:hover {
   filter: alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}

#slideshow{
  width: 830px;
  margin: auto;
}


/*update_history*/
#update_history .list{
  padding-top:7px;
  font-size: 90%;  
}
#update_history .list .once{
  padding-left:5px;
  /*color:darkRed;*/
}
#update_history .list .once .name{
  margin-left:15px;
  font-weight:bold;
  background-color:lightgray;
  padding:3px;
}
#update_history .list .once a{
  /*color:red;*/
  /*background-color:khaki;*/
}
#update_history .list .once a:hover {
  /*background-color:greenYellow;*/
}
#current_login_user{
  margin-top: 15px;
}
#current_login_user table{
  padding:5px;
}

.right_side_bar p.title{
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 7px;
  color: white;
  background: #146EB4;
}

/* history */
#history_data td.comment{
  background-color: lightgray;
}

/*user*/
table.user_data tr th{
  background-color: #E1E1E1;
  border-bottom: 1px solid;
}
table.user_data tr td{
  border-bottom: 1px solid;
}

/* user#map */
#gmap {
  width: 800px;
  height: 550px;
  float: left;
}
#gmap_sidebar {
  margin-left: 30px;
  width: 200px;
  float: left;
}


/*footer*/
#footer {
  margin-top: 25px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  width: 100% - 5px;
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}

/*------------------------
 * nices
 *-----------------------*/
#nice_show {
  width: 650px;
  margin: auto;
}
#nice_show .nice_content {
  padding: 4px 12px 0px;
}
.nice_rank {
  font-weight:bold;
  font-size: 120%;
  color:red;
  margin-bottom:12px;
}
.nice_user {
  margin: 7px 0px 7px;
  color: olive;
  font-weight: bold;
}
