<!-- QRコード -->
<div class="modal fade" id="modalQR">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class='modal-title'>このサイトのQRコード</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= image_tag('QR_Code.jpg'); %>
      </div>
      <div class="modal-footer">
        produced by たかひろ
      </div>
    </div>
  </div>
</div>

