<% if @history.errors.any? %>
  $('#error_message').show();
  <% @history.errors.full_messages.each do |msg| %>
    $('#error_message > ul').append("<li><%= msg %></li>");
  <% end %>

<% else %>
  $('#history_data').html(
    '<%= escape_javascript(render "data") %>'
  );
  $('#info')
    .show()
    .html('追加しました')
    .hide(5000);
  $('#his_form form textarea').val("");
  $(".colorbox").colorbox();
<% end %>
