<% if @errors.present? %>
  $('#error_message').show();
  <% @errors.full_messages.each do |msg| %>
    $('#error_message > ul').append("<li><%= msg %></li>");
  <% end %>

<% else %>
  $('#error_message').hide();
  $('#history_data').html(
    '<%= escape_javascript(render "data") %>'
  );
  alert("<%= @success_message %>");
  $('#his_form form textarea').val("");
  $('#historyFormModal').modal('hide');
  $('[data-toggle="tooltip"]').tooltip();
<% end %>
