<script>
jQuery(document).ready(function(){
  $('.overstring').each(function(){
    $(this).css({'cursor' : 'pointer'});
    $(this).tipTip({
      content: $(this).attr('title'),
      defaultPosition: "top",
      maxWidth: "auto",
      activation: "click",
      delay: 0,
    });
  });
});
</script>

<div class="col-sm-8">
<h3><%= link_to "できごとを追加する", {:action => :new}, :class => colorbox_class + " btn btn-info" %></h3>

<div class="page-header"><h3>できごと一覧</h3></div>
<div id="history_data">
  <%= render "data" %>
</div>
</div>
