<div style="font-size:small">
  <% if @celeb_mutters.size > 0 -%>
    <% @celeb_mutters.each do |m| -%>
      <div style="background-color:#E1E1E1">
        <%= m.user.dispname(User::FULLNICK) %>
      </div>
      <%= sani(m.content) %><br />
      <br />
    <% end -%>
  
  <% else -%>
    <div class="celebration_msg">まだお祝いなし。<br />自分でも祝えるよ＞＜</div>
  <% end -%>
</div>
