<div class="col-sm-6">
<div class="form-actions">
<%= link_to "掲示板一覧へ", boards_path, class: "btn btn-light" %>
</div>

<div class="page-header">
  <h3>編集する</h3>
</div>


<%= render :partial => 'form' %>
</div>
