.once_content
  .title.for_index
    = "#{@photo.title} "
    = link_to "(コメント数：#{@photo.mutter_comments.select{|n| n.id.present?}.size}）", "#comment_area"
  .info
    |  投稿者：
    = @photo.user.try(:dispname)
    |  | 投稿日時：
    = l @photo.created_at if @photo.created_at
    |  | 撮影日時：
    = l @photo.exif_at if @photo.exif_at
  .description
    .text-center
      = image_tag(@photo.image(:large), class: 'img-thumbnail') if @photo.image?
    = link_to "元画像", @photo.image(:original) if @photo.image?
    p.text
      = sani_custom_br(@photo.description)
      - if @photo.mutter.present?
        = link_to "つぶやき", mutter_path(@photo.mutter, anchor: "mutter#{@photo.mutter.id}")
  .nice
    span#update_nice
      = nice_field(@photo, "photo", "#update_nice")
