/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/**********************************************
 from scaffold.css
**********************************************/

/* 現在エラーは、各フォームフィールドの横に出す形式にしている */

/* .field_with_errors { */
  /* padding: 2px; */
  /* background-color: red; */
  /* display: table; */
/* } */

/* #error_explanation { */
  /* width: 450px; */
  /* border: 2px solid red; */
  /* padding: 7px; */
  /* padding-bottom: 0; */
  /* margin-bottom: 20px; */
  /* background-color: #f0f0f0; */
/* } */
/* #error_explanation h2 { */
  /* text-align: left; */
  /* font-weight: bold; */
  /* padding: 5px 5px 5px 15px; */
  /* font-size: 12px; */
  /* margin: -7px; */
  /* margin-bottom: 0px; */
  /* background-color: #c00; */
  /* color: #fff; */
/* } */
/* #error_explanation ul li { */
  /* font-size: 12px; */
  /* list-style: square; */
/* } */


/**********************************************
 error page
**********************************************/
#error {
  .alert {
    margin: 50px 0 30px;
    padding: 0 30px 45px;
  }
}

/**********************************************
 other
**********************************************/
#about_contents {
  padding: 15px;
  background-color: black;
  opacity: 0.8;
  color: white;
  border-radius: 15px;
}

#prev-btn {
  background-color: black;
  opacity: 0.8;
  color: white;
  font-size: 20px;
}

/* 地図(members#map) */
#gmap {
  width: 800px;
  height: 550px;
  float: left;
}
#gmap_sidebar {
  margin-left: 30px;
  width: 200px;
  float: left;
}


/**********************************************
 mutter
**********************************************/
#slider_photo {
  position: relative;

  #slider_update_info {
    z-index: 100;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    color: yellow;
  }
}

.view_updated_contents {
  padding: 7px 8px;

  .message {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }
  .buttons {
    text-align: right;
    a {
      color: white;
      padding-right: 5px
    }
  }
}

#mutter .leave_me {
  margin-top: 15px;
}
#mutter .leave_me label {
  display: inline;
  margin-left: 7px;
}

.mutter_rows {
  padding: 0px;
  /* width: 620px; */
  margin-left: 0px;
}
.mutter_rows li{
  list-style: none;
  padding: 8px;
  margin-top: 15px;
  /* border-radius: 7px 7px 7px 7px; */
  /* box-shadow: 1px 1px 3px #999999; */
  background-color: white;
  /* border: 1px outset gray; */
  border: 2px solid lightgray;
  border-radius: 8px;
}
.mutter_rows li.even{
  background-color: MistyRose;
}

.mutter_content {
  position:relative;
}
.mutter_content .icon {
  margin-left: 6px;
  position:absolute;
  top: 5px;
  left: 0px;
}
.mutter_content .icon p {
  margin: 4px 0px;
}
.mutter_content .icon p img {
  border: 1px gray solid;
  padding: 4px;
}

.mutter_content .content-area {
  margin-left: 78px;
}
.mutter_content .content {
  padding: 5px 4px;
}
.mutter_content .mutter-media {
  margin-top: 18px;
}

.mutter_content .info-area {
  padding-bottom: 3px;
  border-bottom: 1px dotted gray;
  margin-bottom: 5px;
  height: 30px;
}
.mutter_content .info-area.smp {
  height: 65px;
}

.mutter_content .info-left {
  position:absolute;
  top: 0px;
  left: 80px;
}
.mutter_content .info-left .time {
  margin-left: 15px;
  color: DimGray;
}
.mutter_content .info-left .name a{
  font-weight: bold;
  /* color: blue; */
}
.mutter_content .info-right {
  position:absolute;
  top: 0px;
  right: 0px;
}
.mutter_content .info-right .nice {
}
.mutter_content .delete {
  height: 30px;
}
.mutter_content .delete p {
  position:absolute;
  bottom: 0px;
  right: 0px;
}

ul.children {
  // background: #DCEAF4;
  /* width: 550px; */
  /* margin-left: 80px; */
  padding-left: 0;
  margin: 15px;
}

ul.children li {
  background-color: #DCEAF4;
  border: 1px solid lightblue;
  border-radius: 4px 4px 4px 4px;
  margin-top: 0px;
}

#nichirei {
  /* padding: 5px 0px 5px; */
  text-align:center;
}
#nichirei .main {
  font-size:150%;
  font-weight:bold;
  color:red;
}
#kinenbi {
  padding: 5px 0px 15px;
  text-align:left;
}
#kinenbi table{
  margin: auto;
}
#kinenbi table tr{
  height: 35px;
}
#kinenbi table tr.exist-border td{
  border-bottom:1px gray solid;
}
#kinenbi .honzitu{
  font-size:150%;
  margin: 5px;
  font-weight:bold;
  color: Orange;
}
#kinenbi .main{
  font-size:130%;
  margin: 5px;
  font-weight:bold;
  color:red;
}
#kinenbi table tr.anniversary{
  height: 30px;
  text-align: center;
}
#kinenbi table tr.anniversary td{
  padding-bottom:15px;
  border-bottom:1px gray solid;
}
#kinenbi table tr.anniversary input{
  height: 33px;
  width: 90px;
}


/* slider-kit */
.carousel-demo2{width:100%;height:130px;background:black;}

/* Navbar */
.carousel-demo2 .sliderkit-nav{left:0;bottom:0;width:100%;height:132px;padding:10px;}
.carousel-demo2 .sliderkit-nav-clip ul li{float:left;margin:0 10px 0 0;}
.carousel-demo2 .sliderkit-nav-clip ul li a{display:block;width:152px;height:115px;overflow:hidden;margin:0;opacity:1;}
.carousel-demo2 .sliderkit-nav-clip ul li a:hover{opacity:0.7;}
.carousel-demo2 .sliderkit-nav-clip ul li a img {
  border: 1px solid #fff;
}

/* Navbar buttons */
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn{position:absolute;top:0;background:white;opacity:0.3;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn span{display:none;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn a{display:block;width:18px;height:130px;background:transparent url("./sliderkit/images/arrows-h.png") no-repeat center 0;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev{left:20px;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next{right:30px;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a{background-position:-89px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a{background-position:-108px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a:hover,
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a:focus{background-position:-126px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a:hover,
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a:focus{background-position:-145px center;}

/* Buttons > Disable */
.carousel-demo2 .sliderkit-nav .sliderkit-btn-disable{opacity:0.3/*can be set to any value until 1*/;cursor:default;}


/*footer*/
footer {
  margin-top: 70px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 6px 0px;
  width: 100%;
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}
footer > p {
  margin: 1px 0;
  font-size: 90%;
}

/* hr.strong { */
  /* border-color: lightgray; */
  /* border-width: 2px; */
/* } */




/*------------------------
 * nices
 *-----------------------*/
/* #nice_show { */
  /* width: 650px; */
  /* margin: auto; */
/* } */
/* #nice_show .nice_content { */
  /* padding: 4px 4px 0px; */
/* } */
/* #nice_show .nice_content .mutter_rows { */
  /* width:100%; */
  /* margin-left:10px; */
/* } */
/* #nice_show .nice_content .mutter_rows .content { */
  /* background:#E7E7DA; */
  /* padding:5px; */
  /* line-height:20px; */
/* } */
/* #nice_show_left { */
  /* width: 650px; */
  /* float: left; */
/* } */
.nice_rank {
  font-weight:bold;
  font-size: 120%;
  color:red;
  margin:25px 0px 5px;
}


/**********************************************
 common
**********************************************/

/* 今後は使わない */
.mt-15 { margin-top: 15px; }
.mt-30 { margin-top: 30px; }
.mt-50 { margin-top: 50px; }
.mb-15 { margin-bottom: 15px; }
.mb-30 { margin-bottom: 30px; }
.mb-50 { margin-bottom: 50px; }

/* 以後はこちらを使う */
.mt0 { margin-top: 0px !important; }
.mb0 { margin-bottom: 0px !important; }
.mr0 { margin-right: 0px !important; }
.ml0 { margin-left: 0px !important; }

.mt5 { margin-top: 5px !important; }
.mb5 { margin-bottom: 5px !important; }
.mr5 { margin-right: 5px !important; }
.ml5 { margin-left: 5px !important; }

.mt10 { margin-top: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.mr10 { margin-right: 10px !important; }
.ml10 { margin-left: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mb15 { margin-bottom: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mr20 { margin-right: 20px !important; }
.ml20 { margin-left: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mb25 { margin-bottom: 25px !important; }
.mr25 { margin-right: 25px !important; }
.ml25 { margin-left: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mb30 { margin-bottom: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mb35 { margin-bottom: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mb40 { margin-bottom: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mb45 { margin-bottom: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mb50 { margin-bottom: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mb55 { margin-bottom: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mb60 { margin-bottom: 60px !important; }

.important {
  font-weight: bold;
  color: red;
}
.big, .text-big {
  font-size: 120%;
}
.text-small {
  font-size: 85%;
}
.block {
  display: block;
}
.right {
  float: right;
}
.left {
  float: left;
}
.text-center {
  text-align: center;
}
.text-underline {
  text-decoration: underline !important;
}
ul {
  padding-left: 0;
}

table.th-vertical-top th {
  vertical-align: top;
}

.desc {
  color: #999;
}
.well .desc {
  color: #6C6767;
}

/* tableでURLなど一単語のものが改行されずレイアウトが崩れてしまう問題の対処 */
td {
  word-break: break-all;
}
a.colorbox:hover, a.colorbox_fix_size:hover {
  opacity: 0.8;
}
a.colorbox img, a.colorbox_fix_size img{
  border: 2px solid tomato;
}
a.colorbox:hover img, a.colorbox_fix_size img {
  border: 3px solid tomato;
}

.once_content{
  background-color: white;
  clear: both;
  border: 1px solid #CCCCCC;
}
.once_content .title{
  background-color: #7D3E62;
  color: white;
  /* background-color: #E1E1E1; */
  padding: 5px;
  font-weight: bold;
  font-size: 115%;
  margin-bottom: 8px;
}
.once_content .title a, .once_content .title a:hover {
  color: white;
}
.once_content .for_index {
  font-size: 105%;
  background-color: #DFDFDF;
  color: black;
}
.once_content .for_index a {
  color: blueviolet;
 }
.once_content .info{
  text-align: right;
  margin-right: 15px;
  color: gray;
}
.once_content .description{
  padding: 12px 20px;
}
.once_content .description .text{
  margin-top: 10px;
  padding: 4px;
}
.once_content .nice{
  background:whiteSmoke;
  text-align:center;
  padding:3px;
  font-size:120%;
}
.once_content p.text{
  padding: 15px;
}



.once_comment{
  background-color: white;
  clear: both;
  margin: 5px 10px 15px;
  width: 95%;
  border: 1px solid #CCCCCC;
}
.once_comment .info{
  border-top: 1px solid black;
  background-color: #DFDFDF;
  color: black;
  /* background-color: #E1E1E1; */
  padding: 4px;
  font-size: 100%;
  margin-bottom: 8px;
  height: 18px;
}
.once_comment .info .name{
  float: left;
  font-weight: bold;
}
.once_comment .info .time{
  float: right;
  width: 180px;
}
.once_comment .content{
  clear: both;
  padding: 12px 20px;
}

.once_photo{
  float: left;
  margin-left: 8px;
  margin-bottom: 4px;
  height: 250px;
  width: 220px;
  border: 1px solid #CCCCCC;
  background-color: white;
  /* overflow-y: scroll; */
  overflow: auto;
}
.once_photo .bar{
  background-color: #E1E1E1;
  font-weight: bold;
}
.once_photo .info{
  /* background-color: #F2EEE8; */
  font-size: 85%;
  padding: 10px;
}
.once_photo .photo {
  margin-top: 3px;
  text-align: center;
}
.once_photo img{
  border: solid 1px #161616;
}
.once_photo a:hover {
   filter: alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}
.once_photo a:hover img{
  /* border: solid 2px #161616; */
}


/* history */
#history_data td.comment{
  background-color: #DCEAF4;
}
/*action_history*/
#action_history .list{
  padding-top:7px;
  font-size: 90%;  
}

#action_history .list .once_row:first-child {
  border-top: 1px dotted DimGray;
}
#action_history .list .once_row {
  padding: 7px 8px;
  line-height: 18px;
  border-bottom: 1px dotted DimGray;
}
#action_history .list .bar {
  margin-bottom: 5px; 
}
#action_history .list .bar .name{
  font-weight: bold;
  background: lightgray;
  padding: 3px;
}
#action_history .list .bar .time{
  margin-left: 7px;
  color: DimGray;
}


#action_history .summary {
  margin:6px 0px 13px;
  text-align:center;
}
#action_history .summary a {
  font-weight:bold;
  font-size:17px;
  color:blue;
  text-shadow: 1px 1px 0 lightgray;
}

.mgn-t20 {
  margin-top: 20px;
}
.mgn-t40 {
  margin-top: 40px;
}
.mgn-b20 {
  margin-bottom: 20px;
}
.mgn-b40 {
  margin-bottom: 40px;
}


/**********************************************
見出し h1, h2, h3, h4
**********************************************/


h1.title {
  margin: 20px 0px;
}

h2.normal {
  border-bottom: 4px solid #003F8E;
  margin-top: 40px;

  font-size: 25px;
  color: #003F8E;
  text-shadow: 1px 1px 0px white, 2px 2px 1px #B0D3FF;
}

/* 真面目系 */
h2.normal2 {
  margin-top: 40px;
  font-size: 20px;
  background: #F8F8F8;
  border-left: 11px double #CCC;
  padding: 0px 10px;
}

h2.normal3 {
  color: #19417F;
  border-bottom: 1px solid #19417F;
  margin-top: 40px;
  font-size: 20px;
  border-left: 5px solid #19417F;
  padding: 0px 10px;
}

/* AdanHPには合わない。つまりTwitterBootstrapには合わない */
.headding04 {
  margin:0 0 30px 0;
  padding:12px 10px;
  background: #1D8ADE;
  color:#FFF;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  text-shadow:1px 1px 2px #333;
  box-shadow:inset -1px -1px 2px rgba(0,0,0, 0.6),inset 1px 1px 2px rgba(255,255,255,0.8);
}


#movies {
  margin: 15px 0px 50px;
}

#movies>.thumb {
  width: 235px;
  border: 1px solid #ddd;
  margin-left: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
  float: left;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  text-align:center;
  position:relative;
  height: 200px;
}
#movies>.thumb .image {
  position:absolute;
  top: 0;
  left: 0;
  padding: 7px;
  box-sizing: border-box;
  /* height: 200px; */
}
#movies>.thumb .info {
  position:absolute;
  bottom: 0px;
  left: 0;
  height: 80px;
  opacity: 0.6;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 90%;
  background-color: black;
  color: white;
}
#movies>.thumb .title {
  font-weight:bold;
  position:absolute;
  top: -28px;
}
#movies>.thumb .actions {
  position:absolute;
  bottom: -20px;
  right: 0;
}


#medias {
  margin: 0px 0px 50px;
}

#medias>.thumb {
  width: 200px;
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 35px;
  float: left;
  position:relative;
  height: 230px;
}
#medias>.thumb .title {
  /* background-color: #fff; */
  text-align:center;
  font-weight:bold;
  height: 35px;
  position: absolute;
  top: 0;
  z-index: 100;
}
#medias>.thumb .title h4 {
  float:left;
  width: 160px;
  margin: 0;
  font-size: 98%;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
}
#medias>.thumb .title h4 a {
  text-shadow: 1px 1px 0px white, 2px 2px 1px #B0D3FF;
}
#medias>.thumb .title .extra {
  float:left;
  width: 40px;
}
#medias>.thumb .image {
  box-sizing: border-box;
  position: absolute;
  top: 35px;
  z-index: 0;
}
#medias>.thumb .info {
  position:absolute;
  top: 152px;
  left: 0;
  height: 85px;
  opacity: 0.6;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 87%;
  background-color: black;
  color: white;
  text-align: left;
  /* margin: 10px; */
}

#medias>.thumb .actions {
  position:absolute;
  top: 240px;
  right: 0;
}

.myPic
{
	/* margin:10px; */
	/* border-radius:10px; */
	border:1px solid #ccc;
}


/**********************************************
 家系図
**********************************************/

#sakimuras {
  ul.members {
    margin-left: 0;
    width: 250px;
  }
  ul.child {
    position:absolute;
  }
  ul.members>li {
    border: 1px solid #666;
    border-radius: 4px;
    list-style-type: none;
    margin: 0 0 7px 0;
  }
  ul.members>li.selected {
	  border: 2px solid red;
  }
  ul.members>li.add_user {
	  border: none;
  }
  ul.members>li.zoom {
    padding: 5px;
    height: 250px;
    cursor: default;

    .img {
      text-align:center;
      /* width: 100px; */
      height: 100px;

      img {
        height: 90px;
      }
    }
    .name {
      text-align:center;
      font-weight:bold;
      margin-top: 5px;
    }
    .info {
      text-align:center;
      font-weight:bold;
      margin-top: 5px;

      p {
        margin-bottom: 0;
        text-align:center;
      }
      p.underline {
        border-bottom: 1px dotted #666;
      }
    }
  }
  ul.members>li.zoom.dead {
    background-color: #C9C3C3;
  }

  ul.members>li.list {
    position:relative;
    padding: 5px;
    height: 85px;
    cursor: pointer;

    .img {
      position:absolute;
      top: 7px;
      left: 7px;
      width: 50px;
      height: 50px;

      img {
        width: 50px;
        height: 50px;
      }
    }
    .name {
      margin-left: 60px;
      margin-right: 60px;
    }
    .info {
      position:absolute;
      top: 5px;
      right: 0px;
      width: 70px;
      height: 50px;
      margin-right: 5px;

      p {
        margin-bottom: 0;
        text-align:center;
      }
      p.underline {
        border-bottom: 1px dotted #666;
      }
    }
  }

  ul.members>li.list.dead {
    background-color: #C9C3C3;
  }

  #generation1 {
    float: left;
  }
  #generation2, #generation3, #generation4, #generation5 {
    float: left;
    height: 600px;
    width: 250px;
    margin-left:5px;
    position:relative;
  }

}

/**********************************************
 from bootstrap_and_overrides.css.less
 todo グルーピングして別ファイル切り出したい
**********************************************/
*[data-toggle="popover"] {
  cursor: pointer;
  color: red;
}

h1 > small, h2 > small, h3 > small {
  color: #6c757d;
  font-size: 65%;

  span.badge {
    font-size: 85%;
    padding: 5px 8px;
  }
}
.nav-header {
  padding: 0px 5px 12px;
  font-size: 17px;
}

.page-header {
  padding-bottom: 0px;
  margin: 25px 0 25px;
  border-bottom: 1px solid #eeeeee;
}
.page-header h3, .page-header h2 {
  // color: #003F8E;
}
.page-header.ver2 h3, .page-header.ver2 h2 {
  text-shadow: 1px 1px 0px white, 2px 2px 1px #B0D3FF;
}
.page-header small {
  margin-left: 15px;
  font-weight: bold;
}

abbr {
  font-weight: bold;
  color: red;
  font-size: 25px;
}
.require_check {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
h3 {
  font-size: 22px;
  line-height: 25px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}

.well.well-narrow {
  padding: 6px 8px 0px 8px;
}
.well2 {
  padding: 15px;
  backgroud: #F7F0F0;
  border-color: #BBD8E9;
}

.btn-light {
  border-color: #ccc;
}

a > i[class^="fa-"], a > i[class*=" fa-"] {
  color: #3A3838;
}

/* form error */
.field_with_errors input {
  border: 2px solid red;
}
.field_with_errors .error {
  color: red;
  font-weight: bold;
  margin-left: 10px;
}
/* hidden要素に対するエラーメッセージは非表示にする */
.input.hidden.field_with_errors {
  span.error {
    display: none;
  }
}

.form-date-select-wrapper {
  label {
    display: block;
  }
  .form-control {
    display: inline-block !important;
    width: auto !important;
  }
}
