<div class="sliderkit carousel-demo2 clearfix" style="margin:-18px auto 40px;">
  <div class="sliderkit-nav">
    <div class="sliderkit-nav-clip">
      <ul>
        <% @album_thumbs.each do |thumb| -%>
          <li>
          <%= link_to image_tag(thumb.image(:thumb), :alt => thumb.album.title),
            slideshow_album_photo_path(thumb.album, thumb, top: 1),
            {:class => colorbox_fix_size, :title => "上のリンク先からアルバムが見れます"} if thumb.album.present? %>
          </li>
        <% end -%>
      </ul>
    </div>
    <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a href="#" title="Scroll to the left"><span>Previous</span></a></div>
    <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a href="#" title="Scroll to the right"><span>Next</span></a></div>
  </div>
</div>

