<div style="font-size:small">
1. まず下のリンクから、メールに写真を添付し、本文につぶやきを書いて送ります。<br />
<%= link_to 'メールを作る', "mailto:#{@to}?subject=#{@subject}" %><br />
<div style="color:red">※メールの件名はそのままにしててね</div>
<br />
2. 数秒ほど待って、メールが届いたかなぁと思ったら、下のつぶやくを押してください。<br />
<%= form_tag :controller => :mutters, :action => :create_from_mail do %>
  <%= submit_tag 'つぶやく！' %> 
<% end -%>
<div style="color:red">※つぶやきがまだ表示されなかったら、この画面に戻って、再度これをクリックしてくださいm(_ _)m</div>
</div>
