<div id="mutter" style="width:710px;margin:auto;float:none">
<%= link_to '戻る', :back %><br>
<h3 class="normal">イイネされたつぶやきの前後もろともはちゅまれー</h3>
<ul class="mutter_rows">
  <%= render :partial => 'mutter_row', :collection => @mutters %>
</ul>

</div>
