<div id="mutter" class="col-sm-6">
<%= link_to '戻る', :back, class: "btn btn-light" %><br>
<h3 class="normal mt30">つぶやきの前後もろともはちゅまれー</h3>
<ul class="mutter_rows mt20">
  <%= render :partial => 'mutter_with_comments', :collection => @mutters %>
</ul>

</div>
