<% @blog.blog_comments.each do |co| -%>
  <div class="once_comment">
    <div class="info">
      <span class="name"><%= co.user.dispname %></span><span class="time">投稿日時：<%= l co.created_at %></span>
    </div>
    <div class="content">
      <div class="text"><%= sani_custom_br(co.content) %></div>
    </div>
    <%= link_to "削除する", blog_blog_comment_path(co.blog.id, co.id), :confirm => "本当に削除してもよろしいですか？", method: "delete", remote: true if editable(current_user, co.user) %>
  </div>
<% end -%>
