<div class="select_menu clearfix">
  <%# [["最近", 1, recent_nices_path], ["ランキング", 2, ranking_nices_path], ["各人がイイネしたもの", 3, donice_nices_path], ["各人がイイネされたもの", 4, wasnice_nices_path]].each do |n, i, path| -%>
  <% [["最近", 1, recent_nices_path], ["ランキング", 2, ranking_nices_path]].each do |n, i, path| -%>
    <% if @sort == i -%>
      <%= link_to n, path, class: "btn btn-danger" %>
    <% else -%>
      <%= link_to n, path, class: "btn" %>
    <% end -%>
  <% end -%>
</div>
