<ul class="nav nav-tabs mt20 mb20">
  <% [["最近", 'recent', recent_nices_path], ["ランキング", 'ranking', ranking_nices_path], ["イイネしたもの", 'donice', donice_nices_path], ["イイネされたもの", 'wasnice', wasnice_nices_path]].each do |n, tab_action_name, path| -%>
    <% activable = action_name == tab_action_name ? 'active' : '' -%>
    <li class="nav-item"><%= link_to n, path, class: "nav-link #{activable}" %></li>
  <% end -%>
</ul>
