.mb20
  = link_to "家系図に戻る", relation_members_path, class: "btn"

.alert.alert-error.mt30
  ホームページにログインする場合は
  = link_to "こちらから", edit_account_member_path(@user)
  ユーザー名とパスワードを設定してください
  <br>
  ※編集ページからも設定できます
