<p><%= @resource.dispname %> さん</p>

<p>下記のリンクからa-dan.comのログインパスワードの再設定が行えます。</p>

<p><%= link_to 'パスワード再設定ページに移動', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない場合は、メールを無視してください。</p>
